<nav>
  <div class="containerNavBar">

    <div class="btnNavBar">
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    </div>
    <div class="btnNavBar">
      <a routerLink="/pictures" routerLinkActive="active" ariaCurrentWhenActive="page">Pictures</a>
    </div>
    <div class="btnNavBar">
      <a routerLink="/movies" routerLinkActive="active" ariaCurrentWhenActive="page">Movies</a>
    </div>
    <div class="btnNavBar">
      <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
    </div>
  </div>

</nav>
<router-outlet></router-outlet>