body {
  background-image: url("./assets/images/siteBG.jpg");
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

.gridItem {
  border-radius: 5%;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.2em;
}

.GridItemDescription {
  margin: 5px;
}

.imageRender {
  border: 1px solid black;
  height: 100px;
  box-shadow: inset 10px 10px 20px#ccc;
}
